body {
    margin: 0;
    background-color: #060507;
}

#icon {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 2.76%;
    right: 94.38%;
    top: 3.68%;
    bottom: 92.51%;

    z-index: 1;
}

.content {
    position: absolute;
    width: 1742px;
    height: 1124px;
    left: 144px;
    top: 199px;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 32px;

    background: #060507;

    overflow: hidden;
    z-index: 10;
}

.navbar {
    position: relative;
    padding: 69px 64px 64px;
    display: flex;
    align-items: center;
    text-align: center;

    z-index: 15;
}

.nav-item {
    margin-right: 72px;

    font-family: 'Sarpanch', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3px;

    color: #FFFFFF;
    text-decoration: none;
}

#logo {
    margin-right: 104px;

    width: 285px;
    height: 45px;
}

#img-1 {
    position: absolute;
    width: 1032px;
    height: 700px;
    left: 0;
    top: 164px;

    z-index: 12;
}

#img-2 {
    position: absolute;
    width: 183.28px;
    height: 177.41px;
    left: 830px;
    top: 214px;

    z-index: 13;
}

#img-3 {
    position: absolute;
    width: 316px;
    height: 700px;
    left: 1073px;
    top: 164px;

    z-index: 12;
}

#img-4 {
    position: absolute;
    width: 316px;
    height: 256px;
    left: 1073px;
    top: 868px;

    z-index: 12;
}

#img-jap-1 {
    position: absolute;
    width: 822px;
    height: 150px;
    left: -12px;
    top: 740px;

    z-index: 13;
}

#img-jap-2 {
    position: absolute;
    width: 822px;
    height: 150px;
    right: 30px;
    top: 740px;

    z-index: 13;
}

#item-2 {
    position: absolute;
    width: 72px;
    height: 40px;
    left: 64px;
    top: 1014px;

    font-family: Druk Wide;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #FFFFFF;

    z-index: 15;
}

#line {
    position: absolute;
    width: 226px;
    height: 2px;
    left: 176px;
    top: 1033px;

    background: #FFFFFF;

    z-index: 15;
}

#line-inner {
    width: 140px;
    height: 2px;

    background: #A75B12;
}

#item-10 {
    position: absolute;
    width: 72px;
    height: 40px;
    left: 442px;
    top: 1014px;

    font-family: Druk Wide;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #FFFFFF;

    z-index: 15;
}

.text-container {
    position: absolute;
    width: 406px;
    height: 92px;
    left: 591px;
    top: 988px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #FFFFFF;

    z-index: 15;
}

.sidebar {
    position: absolute;
    width: 353px;
    height: 749px;
    left: 1389px;
    top: 375px;

    padding: 43px 8px 42px 40px;

    background-color: #060507;
    z-index: 15;
}

.stat {
    width: 305px;
    height: 148px;

    display: flex;
    align-items: center;
}

.stat-name {
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;

    color: #3F3E44;
}

.stat-small {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFF;
}

.stat-big {
    margin: 20px 0;

    font-family: 'Sarpanch', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#img-gold-1 {
    position: absolute;
    width: 1533px;
    height: 948px;
    left: 0;
    top: 574px;

    z-index: 1;
}

#img-gold-2 {
    position: absolute;
    width: 562px;
    height: 375px;
    left: 1184px;
    top: 0;

    z-index: 1;
}
